/* * {
  border: #4a148c solid 1px;
} */
.title {
  width: 100%;
  height: 50px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  color: white;
  gap: 50px;
  z-index: 1;
}

.content {
  min-height: calc(100vh - 50px);
  background-color: blueviolet;
  gap: 50px;
}
